

<!-- <canvas id="cvs" width="600" height="600"></canvas> -->
<h1>筑波大学大規模OFF #tkb_off</h1>
<div class="sec about">
    <h2>#tkb_off</h2>
    <p>今年もやります!筑波大学Twitter大規模OFF「#tkb_off」!!</p>

    <h3>日時</h3>
    <p>2013年3月23日(土)</p>
    <p>14:00〜17:00</p>

    <h3>場所</h3>
    <p>つくば研修センター</p>
    <p>茨城県つくば市天久保1-13-5</p>

    <h3>参加登録について</h3>
    <p>一般の参加登録については、3/1より開始を予定していましたが、少々遅れております。 今暫くお待ち下さい。</p>

    <h3>ブース募集について</h3>
    <p><del>今年の #tkb_off ではブース出展(β)を受け付けています！
        <br />詳しくは「ブース出展(β)フォーム」をご覧下さい。</del>
        <br />受付終了しました！ たくさんのご応募ありがとうございます。
    </p>

</div>

<div class="sec map">
    <h2>#map</h2>
    <iframe width="280" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E3%81%A4%E3%81%8F%E3%81%B0%E5%A4%A9%E4%B9%85%E4%BF%9D1-13-5&amp;aq=&amp;sll=34.728949,138.455511&amp;sspn=47.467876,83.496094&amp;brcurrent=3,0x60220c71de491543:0x5e35cabf2fb37d39,0,0x60220c71c39488cb:0xa45ebb5549bcaa3b&amp;ie=UTF8&amp;hq=&amp;hnear=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E3%81%A4%E3%81%8F%E3%81%B0%E5%B8%82%E5%A4%A9%E4%B9%85%E4%BF%9D%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%93%E2%88%92%EF%BC%95&amp;t=m&amp;z=14&amp;ll=36.093193,140.111048&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E3%81%A4%E3%81%8F%E3%81%B0%E5%A4%A9%E4%B9%85%E4%BF%9D1-13-5&amp;aq=&amp;sll=34.728949,138.455511&amp;sspn=47.467876,83.496094&amp;brcurrent=3,0x60220c71de491543:0x5e35cabf2fb37d39,0,0x60220c71c39488cb:0xa45ebb5549bcaa3b&amp;ie=UTF8&amp;hq=&amp;hnear=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E3%81%A4%E3%81%8F%E3%81%B0%E5%B8%82%E5%A4%A9%E4%B9%85%E4%BF%9D%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%93%E2%88%92%EF%BC%95&amp;t=m&amp;z=14&amp;ll=36.093193,140.111048" style="text-align:left">大きな地図で見る</a></small>
</div>

<div class="sec tw sec_last">
    <h2>#twitter</h2>
    <a class="twitter-timeline" href="https://twitter.com/tkb_off" data-widget-id="310300053531148288">@tkb_off からのツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</div>

<div class="members">
    <h2>#member</h2>

    <% @participants.each do |user| %>

    <div class="member">
        <img class="icon" src="https://api.twitter.com/1/users/profile_image?screen_name=<%= user.screen_name %>&size=bigger" alt="<%= user.screen_name %>" />
        <div class="caption">
            <a href="http://twitter.com/<%= user.screen_name %>">@<%= user.screen_name %></a>
            <p><%= user.comment %></p>
        </div>
    </div>

    <% end %>

</div>

<% if @regist_flag %>

<div id="regist_form">
<h2>Sign up</h2>

<% if @user %>
<label>Twitter</label>
<p><%= @user.screen_name %> ( <%= @user.name %> )
<img class="icon" src="https://api.twitter.com/1/users/profile_image?screen_name=<%= @user.screen_name %>&size=bigger" alt="<%= @user.screen_name %>"  style="margin-top: -72px"/>
</p>


<%= form_for(@user, :url => {:action => 'create'} ) do |f| %>

<%= f.label '名前' %>
<%= f.text_field :real_name %>

<%= f.label '所属 (筑波大学関係者以外の方は紹介者の本名を入力)' %>
<%= f.text_field :unit %>

<%= f.label '学籍番号 (関係者以外は0を入力)' %>
<%= f.text_field :student_num %>

<%= f.label 'ひとことコメント(サイト上で公開・名札に印刷予定)' %>
<%= f.text_area :comment, :maxlength => "80" %>

<%= f.label '運営へのコメント(非公開・任意)' %>
<%= f.text_area :message %>

<%= f.submit "Sign Up", {:id=>'btn_submit'} %>
<% end %>

<% end %>
</div>
<a href="#regist_form" id="form" style="display:none;">link to form.</a>

<script>
$(function(){$("a#form").fancybox({
    'titlePosition'     : 'inside',
    'transitionIn'      : 'none',
    'transitionOut'     : 'none',
    'overlayColor'      : '#000'
});
$("a#form").click();
})
</script>
<% end %>
